
.usersContainer{
    display: flex;
    flex-direction: column;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.marginContainer{
    margin: 40px 0;
}

/* .flexChild{
    align-self: flex-end;
} */